@font-face{
   src:url(NanumBarunpenR.ttf);
}
.root {
	-fx-background-size: 400 600;
}
#loginBackImage {
	-fx-background-size: 400 600;
}
#loginBackColor {
	-fx-background-size: 400 600;
	-fx-background-color: #07186e;
	-fx-opacity: 0.75;
}
#inputID {
	-fx-border-color: linear-gradient(to left, #FA8C25, #F5119A);
	-fx-border-radius: 20px;
	-fx-border-width: 4px;
	-fx-background-size: 190 20;
	-fx-text-fill: white;
	-fx-font-family: "나눔바른펜";
}
#inputPW {
	-fx-border-color: linear-gradient(to left, #FA8C25, #F5119A);
	-fx-border-radius: 20px;
	-fx-border-width: 4px;
	-fx-background-size: 190 20;
	-fx-text-fill: white;
	-fx-font-family: "나눔바른펜";
}
Button {
	-fx-background-color: linear-gradient(to left, #FA8C25, #F5119A);
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-family: "나눔바른펜";
}
#toHome {
	-fx-background-color: white;
	-fx-background-radius: 20px;
	-fx-border-radius: 20px;
	-fx-text-fill: transparent;
	-fx-font-weight: bold;
}