@font-face{
   src:url(NanumBarunpenR.ttf);
}
#aiTopHbox {
	-fx-background-color: #6b3cab;
}
#aiTitle {
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-font-family: "나눔바른펜";
}
#aiBackColor {
	-fx-background-color: #8b6ab8;
}
Label {
	-fx-font-weight: bold;
	-fx-font-family: "나눔바른펜";
}
Button {
	-fx-font-weight: bold;
	-fx-font-family: "나눔바른펜";
}
#contents {
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-family: "나눔바른펜";
}
#aiBtnColor {
	-fx-background-color: #8b6ab8;
}
#aiBtn1 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#aiBtn2 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#aiBtn3 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#aiBtn4 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#aiBtn5 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#aiBtn6 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}