#likeTopHbox {
	-fx-background-color: #6b3cab;
}
#likeTitle {
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}
#likeBtnColor {
	-fx-background-color: #8b6ab8;
}
#likeBtn1 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#likeBtn2 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#likeBtn3 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#likeBtn4 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#likeBtn5 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#likeBtn6 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}