@font-face{
   src:url(NanumBarunpenR.ttf);
}
#likeTopHbox {
	-fx-background-color: #6b3cab;
}
#likeTitle {
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-font-family: "나눔바른펜";
}
#likeBackColor {
	-fx-background-color: #8b6ab8;
}
Line {
	-fx-stroke: #6b3cab;
	-fx-stroke-width: 5px;
}
Label {
	-fx-font-weight: bold;
	-fx-font-family: "나눔바른펜";
}
Button {
	-fx-font-weight: bold;
	-fx-font-family: "나눔바른펜";
}
#likeLabel {
	-fx-text-fill: #6b3cab;
	-fx-alignment: center;
	-fx-text-alignment: center;
}
#likeBtnColor {
	-fx-background-color: #8b6ab8;
}
#likeBtn1 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#likeBtn2 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#likeBtn3 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#likeBtn4 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#likeBtn5 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}
#likeBtn6 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "나눔바른펜";
}