@font-face{
   src:url(DXPnM-KSCpc-EUC-H.ttf);
}
#mpTopHbox {
	-fx-background-color: #6b3cab;
}
#mpTitle {
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
	-fx-font-family: "DX시인과나";
}
#mpBtnColor {
	-fx-background-color: #8b6ab8;
}
#mpBtn1 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "DX시인과나";
}
#mpBtn2 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "DX시인과나";
}
#mpBtn3 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "DX시인과나";
}
#mpBtn4 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "DX시인과나";
}
#mpBtn5 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "DX시인과나";
}
#mpBtn6 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
  	-fx-font-family: "DX시인과나";
}