#mtTopHbox {
	-fx-background-color: #6b3cab;
}
#mtTitle {
	-fx-text-fill: white;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-font-weight: bold;
}
#mtBtnColor {
	-fx-background-color: #8b6ab8;
}
#mtBtn1 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#mtBtn2 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#mtBtn3 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#mtBtn4 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#mtBtn5 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}
#mtBtn6 {
	-fx-background-color: transparent;
	-fx-text-fill: white;
  	-fx-font-weight: bold;
  	-fx-border-width: 0px;
  	-fx-border-color: transparent;
}